.Rproj.user
.Rhistory
.RData
.Ruserdata

# image files #
###################
*.jpg
*.png

# data and graphics output directories #
#########################################
data/
graphics/

# OS files #
############
.DS_Store